<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.sections.invoice.show.header", name: page.resource.invoice_uid) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "btn btn-secondary",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body">
  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-6">
        <ul class="list-group list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Cliente</b><span><a href="<%= admin_customer_path(page.resource.customer) %>"><%= page.resource.customer.name %></a></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Fecha emision</b> <span><%= l(page.resource.created_at, :format => '%Y-%m-%d') %></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Vencimiento</b><span><%= page.resource.due_date %></span></li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-group list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Estado</b><span><%= raw (page.resource.paid?) ? "<span class=\"badge badge-pill badge-success\">Pagada</span>":"<span class=\"badge badge-pill badge-danger\">Impago</span>" %></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Vencida?</b> <%= raw (page.resource.paid?) ? "<span class=\"badge badge-pill badge-succees\">No</span>":"<span class=\"badge badge-pill badge-light\">Si</span>" %></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Vencimiento</b><span><%= page.resource.due_date %></span></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <table class="table table-stripe">
          <thead>
            <tr>
              <th>Contepto</th>
              <th>Monto Facturado</th>
              <th>Monto Recibido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= page.resource.description %></td>
              <td>$<%= page.resource.amount %></td>
              <td>$<%= page.resource.amount_paid %></td>
            </tr>
            <%- if page.resource.invoice_discounts.any? %>
              <tr>
                <td class="text-right"><b>Deducciones/comisiones/descuentos</b></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <%- page.resource.invoice_discounts.each do |invoice_discount| %>
              <tr>
                <td class="text-right">
                  <span class="badge badge-info">
                    <%= t("helpers.label.discount.discount_type_#{invoice_discount.discount.discount_type}") %>
                  </span>
                  <%= invoice_discount.discount.name %>
                </td>
                <td>&nbsp;</td>
                <td>-$<%= invoice_discount.amount %></td>
              </tr>
              <%- end %>
            <%- end %>
            <tr>
              <td>Neto</td>
              <td>&nbsp;</td>
              <td>$<%= page.resource.profit %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% if page.resource.paid? %>
      <hr>
      <div class="row">
        <div class="alert alert-success col-12" role="alert">
          <h4 class="alert-heading">Pagado</h4>
          <p>
            Cancelada el dia <b><%= l(page.resource.updated_at, :format => "%Y-%m-%d a las %H:%M") %></b>.<br/>
            Recibo de pago: <b><%= (page.resource.payment_receipt.present?) ? page.resource.payment_receipt : "No disponible" %></b>. Monto total cancelado: <b>$<%= page.resource.amount_paid %></b>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</section>
