<% content_for(:title) { page.resource.name } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>
  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "btn btn-secondary",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
  <hr>
</header>

<section>
  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-6">
        <ul class="list-group list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Socios</b><span><%= page.resource.customers.size %></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Accessos en mes actual (<%= Date.today.strftime('%Y/%m') %>)</b><span><%= @access_in_current_period %></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Accessos en mes anterior</b><span><%= @access_in_last_period %></span></li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-group list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Ingreso estimado mensual</b><span>$<%= @estimated_monthly_income %></span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center"><b>Real facturado mes actual</b><span>$<%= @actual_income_in_current_period %></span></li>
          <li class="list-group-item">
            <b>Ingreso mensual estimado vs real facturado</b><br/>
            <%= raw(build_progress_bar(@estimated_monthly_income.to_i, @actual_income_in_current_period.to_i)) %>
          </li>
        </ul>
      </div>
    </div>
    <% if subject.customers.any? %>
      <h3>Socios</h3>
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <% subject.customers.order('name ASC').each do |customer| %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="<%= admin_customer_path(customer) %>"><%= customer.name %></a>
                <span class="badge badge-<%= (!customer.medical_approval?)? 'danger':'success'%> badge-pill"><%= (!customer.medical_approval?) ? "No presento apto medico." : "Apto medico al dia." %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</section>
