<table aria-labelledby="<%= table_title %>" class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Dia y hora</th>
      <th>Actividades</th>
      <th>Al dia?</th>
    </tr>
  </thead>

  <tbody>
    <% resources.each do |resource| %>
      <tr tabindex="0">
        <td>
          <a href="<%= admin_customer_path(resource.customer) %>"><%= resource.customer.name %></a>
        </td>
        <td>
          <%= l(resource.timestamp, :format => '%Y-%m-%d a las %H:%M') %>
        </td>
        <td>
          <%= resource.customer.activities.map(&:name).join(',') %>
        </td>
        <td>
          <%= raw (resource.customer.overdue?) ? "<span class=\"badge badge-pill badge-success\">SI</span>" : "<span class=\"badge badge-pill badge-danger\">NO</span>" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
